RELIC-INFO
relic/
pysiaf/version.py
build/
dist/
*.pyc
*.o
*.so
*.egg-info
*.swp
.pytest_cache
pysiaf/temporary_data
docs/_build
~$*_SIAF.xlsx
wedge_offsets.txt
miri_siaf_ifu_slice_table.fits
*.pdf
examples/.ipynb_checkpoints
