.eggs/
build/
dist/
pysiaf/version.py
*.pyc
*.o
*.so
*.egg-info
*.swp
*._
.pytest_cache
docs/_build
~$*_SIAF.xlsx
wedge_offsets.txt
miri_siaf_ifu_slice_table.fits
*.pdf
examples/.ipynb_checkpoints
*.zip
pysiaf/temporary_data
**/.idea/*
*.DS_Store
